     /*custom font*/
     @font-face {
      font-family: "bhutanfont";
      src: url("/resources/custom_font.woff") format("woff");
     }
     /*basic reset*/

  
     * {margin: 0; padding: 0;}
 
     html {
     height: 100%;
     /*Image only BG fallback*/
     overflow-x: hidden;
     /*background = gradient + image pattern combo*/
     background: white;
     }
 
     body {
      font-family: "bhutanfont"
     }
     /*form styles*/
     #msform {
     /* width: 400px; */
     margin: 50px auto;
     text-align: center;
     position: relative;
     }
     #msform fieldset, .modal-field {
     background: white;
     border: 0 none;
     border-radius: 3px;
     box-shadow: 0 0 15px 1px #31363A;
     padding: 20px 30px;
     box-sizing: border-box;
     /* width: 80%; */
     /* margin: 0 10%; */
     min-height: 70vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /*stacking fieldsets above each other*/
     position: relative;
     }
     /*Hide all except first fieldset*/
     #msform fieldset:not(:first-of-type) {
     display: none;
     }
     /*inputs*/
     #msform input,#msform select, #msform textarea, .modal-field input, .modal-field textarea, .modal-field select {
     padding: 15px;
     border: 1px solid #ccc;
     border-radius: 3px;
     margin-bottom: 10px;
     width: 100%;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     color: #2C3E50;
     font-size: 13px;
     }
     #msform label, .modal-field label {
       margin-bottom: 10px;
       font-family: Arial, Helvetica, sans-serif;
       color: #31363A;
       font-size: 13px;
       text-align: left;
       width: 100%;
 
     }
     /*buttons*/
     #msform .action-button, .action-button {
     width: 40%;
     background: #ff9933;
     font-weight: bold;
     color: white;
     border: 0 none;
     border-radius: 1px;
     cursor: pointer;
     padding: 10px 5px;
     margin: 10px 5px;
     }
     #msform .action-button:hover, #msform .action-button:focus, .action-button:hover, .action-button:focus  {
     box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
     }
     /*headings*/
     .fs-title {
     font-size: 15px;
     text-transform: uppercase;
     color: #31363A;
     margin-bottom: 10px;
     }
     .fs-subtitle {
     font-weight: normal;
     font-size: 13px;
     color: #31363A;
     margin-bottom: 20px;
     }
     /*progressbar*/
     #progressbar {
     margin-bottom: 30px;
     overflow: hidden;
     /*CSS counters to number the steps*/
     counter-reset: step;
     }
     #progressbar li {
     list-style-type: none;
     color: black;
     text-transform: uppercase;
     font-size: 9px;
     width: 25%;
     float: left;
     position: relative;
     }
     #progressbar li:before {
     content: counter(step);
     counter-increment: step;
     width: 20px;
     line-height: 20px;
     display: block;
     font-size: 10px;
     color: #333;
     background: white;
     border-radius: 3px;
     margin: 0 auto 5px auto;
     }
     /*progressbar connectors*/
     #progressbar li:after {
     content: '';
     width: 100%;
     height: 2px;
     background: white;
     position: absolute;
     left: -50%;
     top: 9px;
     z-index: -1; /*put it behind the numbers*/
     }
     #progressbar li:first-child:after {
     /*connector not needed before the first step*/
     content: none; 
     }
     /*marking active/completed steps green*/
     /*The number of the step and the connector before it = green*/
     #progressbar li.active:before,  #progressbar li.active:after{
     background: #ff9933;
     color: white;
     }
 
     #msform fieldset .buttons {
         position: fixed;
         bottom: 0px;
         left: 0px;
         width: 100%;
         /* background-color: black; */
     }

     .closebutton {
         background: red;
         border: none;
         padding: 5px;
         margin: 3px;
         border-radius: 5px;
         color: white;
         cursor: pointer;
     }

     #otpbutton {
        width: auto;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: #fb470b;
        font-weight: bolder;
     }
     #otpbutton:disabled {
        color: #c0c0c0;
        cursor: not-allowed;
     }

     #otpverify {
        width: 80% !important;
     }

     #otpverify:disabled {
        width: 80%;
        background-color: #c0c0c0;
     }

     #childlist, #childlist li {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      align-items: flex-start;
     }

     #childlist li {
      width: 100%;
      display: flex;
      align-content: space-between;
      flex-direction: row;
      justify-content: space-between;
     }

     .regpending {
      background-color:bisque;
      width: 100%;
     }

     .regallowed {
      background-color:aquamarine;
      width: 100%;

     }
      .regnotallowed {
         
         background-color:tomato;
         width: 100%;
      }

      #statusbar {
         padding: 20px;
         display: flex;
         align-items: center;
         justify-content: center;
         border: 3px solid #31363A;
     }
     .dependent_list_items {
         padding:10px;
         display: flex;
         justify-content: space-between;
         border: 3px solid #dadada;
         border-radius: 10px;
         align-items: center;
         flex-direction: column;
     }